<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
    <title th:text="${title} + ' | MiniTwit'"></title>
    <link rel="stylesheet" type="text/css" href="/css/style.css"></link>
</head>
<body>
<div class="page">
    <h1>MiniTwit</h1>
    <div class="navigation">
      <a th:href="@{/public}">public timeline</a>
    </div>
    <div class="body">
    
	    <h2>Sign In</h2>
      <div class="success" th:if="${messsage != null}" th:text="${message}">message</div>
      <div class="error" th:if="${error != null}">
        <strong>Error:</strong> <span th:text="${error}">error message</span>
      </div>
      
	    <form action="#" th:action="@{/login}" th:object="${user}" method="post">
	     <dl>
	       <dt>Username:</dt>
	       <dd><input type="text" th:field="*{username}" size="30" maxlength="50" /></dd>
	       <dt>Password:</dt>
	       <dd><input type="password" th:field="*{password}" size="30" /></dd>
	     </dl>
	     <div class="actions">
	       <input type="submit" value="Sign In" />
	     </div>
	    </form>
	    
    </div>
    <div class="footer">
      MiniTwit &mdash; A SpringBoot Application
    </div>
</div>
</body>
</html>
